<h1>Books</h1>
<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <a href="/show">Show</a>
  <a href="/edit">Edit</a>
  <a href="">Destroy</a>

<% end %>